#ant specific
dist/

#netbeans specific
#core
nbproject/*
nbproject/
nbproject/project.properties
nbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xmlbproject/project.xml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
*.properties
*.xml


